<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dices</title>
</head>
<style>
    .center-it {
        display: flex;
        justify-content: center;
        
    }
</style>
<body>
    <h1 class="center-it">Welcome to Dice Roll</h1>

    <div class="center-it">
        <form action="/roll" method="POST">
            <input type="text" name="count" placeholder="Number of rolls">
            <input type="submit" value="ROLL!">
        </form>
    </div>

    <table class="center-it">
        <tr data-th-each="roll : ${rolls}">
            <td data-th-text="${roll}"></td>
        </tr>
    </table>
</body>
</html>